<a href="https://colab.research.google.com/github/fabiobasson/python_dataanalysis_book/blob/main/C%C3%B3pia_de_python_dataanalysis_chapter01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd;

In [ ]:
names_1880 = pd.read_csv('yob1880.txt',names=['Nomes','Sexo','Aniversarios'])

In [ ]:
names_1880.head ()

       Names Sex  Aniversarios
0       Mary   F          7065
1       Anna   F          2604
2       Emma   F          2003
3  Elizabeth   F          1939
4     Minnie   F          1746