<a href="https://colab.research.google.com/github/fabiobasson/python_dataanalysis_book/blob/main/python_dataanalysis_chapter02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd;

In [4]:
names_1880 = pd.read_csv('yob1880.txt',names=['Nomes','Sexo','Aniversario'])

In [5]:
names_1880.head ()

       Nomes Sexo  Aniversario
0       Mary    F         7065
1       Anna    F         2604
2       Emma    F         2003
3  Elizabeth    F         1939
4     Minnie    F         1746

In [6]:
names_1880

          Nomes Sexo  Aniversario
0          Mary    F         7065
1          Anna    F         2604
2          Emma    F         2003
3     Elizabeth    F         1939
4        Minnie    F         1746
...         ...  ...          ...
1995     Woodie    M            5
1996     Worthy    M            5
1997     Wright    M            5
1998       York    M            5
1999  Zachariah    M            5

[2000 rows x 3 columns]

In [7]:
names_1880.groupby('Sexo').Aniversario.sum()

Sexo
F     90994
M    110490
Name: Aniversario, dtype: int64

In [8]:
years=range(1902,2011)
pieces=[]
columns = ['Nome', 'Sexo', 'Aniversario']

In [9]:
for year in years:
  path='names/yob%d.txt'  % year
  frame = pd.read_csv(path,names=columns)

  frame['year'] = year
  pieces.append(frame)

  names = pd.concat(pieces,ignore_index=True)

FileNotFoundError: ignored

In [10]:
names

NameError: ignored

In [11]:
def add_prop(group):
  Aniversario = group.Aniversario.astype(float)
  group['prop']=Aniversario/Aniversario.sum()
  return group

In [12]:
names = names.groupby(['year', 'Sexo']).apply(add_prop)

NameError: ignored

In [ ]:
names

In [ ]:
def get_top1000(group):
  return group.sort_index(level='Aniversario',ascending=False)[:3]

In [ ]:
grouped = names.groupby(['year', 'Sexo'])

In [ ]:
top1000 = grouped.apply(get_top1000)

In [ ]:
top1000

In [ ]:
# Chapter 3 - Page 46

In [ ]:
top1000

In [28]:
from numpy.random import randn
data = {i : randn() for i in range(7)}
print (data)

{0: -0.6782921311093129, 1: 0.7285641506671403, 2: 2.005198766566372, 3: 0.20881184569522726, 4: -1.0596746676677165, 5: -0.7492819360814431, 6: 0.5584484580543553}